.main-nav{
    position: fixed;
    flex-direction: row;
}
.items{
    position: fixed;
    background-color: var(--dark-orange);
    border-radius: 8%;
}
.nav-item{
    width: 40px;
    margin-left: 18px;
    margin-right: 18px;
}