
.footer-page-container{
    width: 50%;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 50px;
    
}
.footer-reverse{
    position: absolute;
    top: 0px;
    left: 0px; 
   
}   
    

@media screen and (max-width: 1080px){
    .footer-page-container{
        width: 80%;
        height: 150px;
    }
}
@media screen and (max-width: 910px){
    .footer-page-container{
        width: 50%;
        height: 100px;
    }
}
@media screen and (max-width: 810px){
   .footer-page-container{
        width: 810px;
        height: 70px;
    }
}
@media screen and (max-width: 710px){
     .footer-page-container{
        width: 710px;
        height: 100px;
    }
}
@media screen and (max-width: 610px){
    .footer-page-container{
        width: 610px;
        height: 80px;
    }
}
@media screen and (max-width: 410px){
    .footer-page-container{
        width: 410px;
        height: 70px;
    }
}
@media screen and (max-width: 310px){
    .footer-page-container{
        width: 310px;
        height: 50px;
    }
}