.main-header{
    padding-top: 100px;
    padding-bottom: 40px;

}
.fonts{
    display: flex;
    flex-direction: column;
}
.title-font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondary-font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.highlighted-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(-dark--orange)
}